<div class="w-50 m-auto p-3 mt-2">
  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
  <% end %>
</div>
